<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" />
    <link rel="stylesheet" href="./../css/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="img/icon/icon.png">
</head>

<body class="body">
    <!--<iframe src="https://raw.githubusercontent.com/anars/blank-audio/master/500-milliseconds-of-silence.mp3" allow="autoplay" id="audio" style="display:none"></iframe>
<audio controls autoplay src="public_html/audio/MusMus-BGM-031.mp3"></audio>-->
    <header>
        <div class="head">
            <p>開発中</p>
        </div>
        <!--<div class="button-dark">
            <label class="label-switch">
            <input type="checkbox" />
            <div class="checkbox"></div>
            </label>
      </div>-->
    </header>
    <div class="top">
        <div class="contents-top">
            <div class="hell">
                <h1>初めまして</h1>
            </div>
            <div class="description">
                <h2>私の名前はリヤと言います</h2>
                <h3>このサイトでは私が独学で覚えた言語を無料で提供します</h3>
                <h4>どんな言語か知りたい方は○○を知るをクリックしてください</h4>
                <p>(別途参考書の購入をおすすめします)</p>
            </div>
        </div>
        <!--<div class="modals">
            <label for="modal-1">
            <div class="modal-trigger">Click for Modal</div>
            </label>
	      <input class="modal-state" id="modal-1" type="checkbox" />
            <div class="modal-fade-screen">
                  <div class="modals-inner">
		        
                        <div class="modal-close" for="modal-1"><i class="far fa-times-circle"></i></div>
                        <h1>Modal Title</h1>
                        <p class="modal-intro">Intro text lorem ipsum dolor sit ametm, quas, eaque facilis aliquid cupiditate tempora cumque ipsum accusantium illo modi commodi  minima.</p>
                        <p class="modal-content">Body text lorem ipsum dolor ipsum dolor sit sit possimus amet, consectetur adipisicing elit. Itaque, placeat, explicabo, veniam quos aperiam molestias eriam molestias molestiae suscipit ipsum enim quasi sit possimus quod atque nobis voluptas earum odit accusamus quibusdam. Body text lorem ipsum dolor ipsum dolor sit sit possimus amet.</p>
                  </div>
            </div>
      </div>-->
    </div>
    <div class="contents">
        <div class="links">
            <!--<div class="link" id="htmls" num="0">
                  <div class="link-div"><img src="public_html/img/html-5.svg" alt="" class="img"/> </div>
                  <div class="link-div"><a href="public_html/lesson/HTML/html.html" class="btn">HTMLを学ぶ</a></div>
                  <div class="link-div-p">
                        <p class="link-study" id="html">HTMLを知る</p>
                  </div>
                  <div class="modal" id="explanation-id-html">
                        <div class="modal-inner">
                              <div class="modal-header"></div>
                              <div class="modal-introduction">
                                    <h2 class="modal-h2">HTML</h2>
                                    <p>サイトの見た目を作る言語です</p>
                                    <p>WEBサイトは全てHTMLで書かれています</p>
                              </div>
                              <button class="modal-close-btn blake">とじる</button>
                        </div>
                  </div>
            </div>-->
            <!--<div class="link" id="cs" num= "1">
                  <div class="link-div"><img src="public_html/img/c.svg" alt="" class="img"/> </div>
                  <div class="link-div"><a href="public_html/lesson/C/c.html" class="btn">Cを学ぶ</a></div>
                  <div class="link-div-p">
                        <p class="link-study" id="c">Cを知る</p>
                  </div>
                  <div class="modal" id="explanation-id-c">
                        <div class="modal-inner">
                              <div class="modal-header"></div>
                              <div class="modal-introduction">
                                    <h2 class="modal-h2">C</h2>
                                    <p>現在使われている主要な言語に影響を与えた言語です</p>
                                    <p>初心者には難しいですが他の言語が覚えやすくなります</p>
                              </div>
                              <button class="modal-close-btn blake">とじる</button>
                        </div>
                  </div>
            </div>-->
            <!--<div class="link java" id="javas" num="2">
                  <div class="link-div"><img src="public_html/img/java.svg" alt="" class="img"/> </div>
                  <div class="link-div"> <a href="public_html/lesson/Java/java.html" class="btn">Javaを学ぶ</a></div>
                  <div class="link-div-p">
                        <p class="link-study" id="java">Javaを知る</p>
                  </div>
                  <div class="modal" id="explanation-id-java">
                        <div class="modal-inner">
                              <div class="modal-header"></div>
                              <div class="modal-introduction">
                                    <h2 class="modal-h2">Java</h2>
                                    <p>世界で最も使われている言語です</p>
                                    <p>求人も多く覚えて損はありません</p>
                              </div>
                              <button class="modal-close-btn blake">とじる</button>
                        </div>
                  </div>
            </div>-->
            <!--<div class="link python" id="pythons" num="3">
                  <div class="link-div"><img src="public_html/img/python.svg" alt="" class="img"/> </div>
                  <div class="link-div"><a href="public_html/lesson/Python/python.html" class="btn">Pythonを学ぶ</a></div>
                  <div class="link-div-p">
                        <p class="link-study" id="python">Pythonを知る</p>
                  </div>
                  <div class="modal" id="explanation-id-python">
                        <div class="modal-inner">
                              <div class="modal-header"></div>
                              <div class="modal-introduction">
                                    <h2 class="modal-h2">Python</h2>
                                    <p>Aiで注目されている言語です</p>
                                    <p>構文が短いので初心者におすすめです</p>
                              </div>
                              <button class="modal-close-btn blake">とじる</button>
                        </div>
                  </div>
            </div>-->
        </div>
    </div>
    <footer>
        <!--<button type="button" class="js-menu-trigger sliding-panel-button">
  Click for Sliding Panel
</button>
<nav class="js-menu sliding-panel-content">
  <ul>
    <li><a href="javascript:void(0)">Item 1</a></li>
    <li><a href="javascript:void(0)">Item 2</a></li>
    <li><a href="javascript:void(0)">Item 3</a></li>
  </ul>
</nav>-->

        <div class="js-menu-screen sliding-panel-fade-screen"></div>
        <div class="contact-us">
            <p class="text-p">制作仲間募集中</p>
            <p class="text-p">下記Discordのリンクからお願いします</p>
            <p class="text-p">他のサイトも見ていただけると嬉しいです</p>
            <p class="text-p">お問い合わせ、ご意見は</p>
            <p class="text-p">下記Twitterアカウントまたはリンクから</p>
            <p class="text-p">お願いします</p>
            <p class="text-p">p.s支援金をもらえるとサイトが改善されます</p>
            <p class="text-p">(更新主が学生でお金がない)</p>
            <p class="header">お問い合わせ先</p>
        </div>
        <!--<div id="site">
            <div class="contact-us link-div-p footer-modal" num="4"><span class="contact-us-links" id="contact-us-links-id">他サイト</span> </div>
            <div class="modal explanation-class-site" id="explanation-id-site">
                  <div class="modal-inner">
                        <div class="modal-header"></div>
                        <div class="modal-introduction">
                              <h2 class="modal-h2">他サイト</h2>
                              <a href="https://riya001.myportfolio.com/" class="contact-us-links text-p">ブログ</a> </div>
                        <div class="air"></div>
                        <button class="modal-close-btn blake footer-modal">とじる</button>
                  </div>
            </div>
      </div>-->
        <div class="contact-us"> <a href="https://discord.gg/Bm4fzQk" class="contact-us-links">Discord</a> </div>
        <div class="contact-us"> <a href="https://riya0012.myportfolio.com/15eb39ef51008b" class="contact-us-link">お問い合わせ</a> </div>
        <div id="link-m">
            <div class="contact-us link-div-p footer-modal" id="contact-us-link-m-div" num="5"> <a href="#contact-us-link-m-div" class="contact-us-link-m">支援金を送る</a> </div>
            <div class="modal explanation-id-m">
                <div class="modal-inner">
                    <div class="modal-header"></div>
                    <div class="modal-introduction">
                        <h2 class="modal-h2">送金方法を選んでください</h2>
                        <p>(Pring対応予定)</p>
                        <a href="https://riya0012.myportfolio.com/home" class="contact-us-links text-p">Pay
                                          Pay</a>
                        <!--<a href="" class="contact-us-links text-p">Pring</a>-->
                    </div>
                    <div class="air"></div>
                    <button class="modal-close-btn blake footer-modal">とじる</button>
                </div>
            </div>
        </div>
        <div class="sns-link">
            <!--<div class="btn-sns"> <a href="https://twitter.com/yuta01290429" class="btn-twitter btn-hover"> <span class="btn-twitter-span"><i class="fab fa-twitter"></i></span>Follow Me</a> </div>
            <div class="btn-sns"> <a href="https://m.facebook.com/profile.php?id=100028146211007&refsrc=http%3A%2F%2Friya24.000webhostapp.com%2Findex.html&_rdr" class="btn-facebook btn-hover"> <span class="btn-facebook-span"><i class="fab fa-facebook-f"></i></span>Follow Me</a> </div>-->
            <div class="btn-sns btnsns-none">
                <a href="https://www.instagram.com/ruby01ruby/" class="btn-instagram btn-hover"> <span class="btn-instagram-span"><i
                                          class="fab fa-instagram"></i></span></a>
            </div>
            <div class="footer-air"></div>
        </div>
    </footer>
    <div class="back-air"></div>
      <div class="back-btn" id="top-back"></div>
</body>

</html>