@import "template";
.main{
	text-align: center;
	.heading{
		color: white;
		@include background-image("../img/ipad-820272_1920.jpg");
		width: 100%;
		height: 600px;
	}
	.reference-book{
		padding-top: 40px;
		.btn-default {
			$color:#FFF;
			$background:#5dca88;
			@include button-default($color,$background);
		}
	}
}
@include footer;