@import "template";

body {
	margin: 0px;
}

.main {
	text-align: center;

	.headings {
		@include background-image("../img/notebook-1280538_1280.jpg");
		width: 100%;
		height: 600px;
		color: white;
		display: none;

		.heading-top {
			padding-top: 150px;

			.clear {
				clear: left;
				padding-bottom: 40px;
			}
		}

		.btn {
			$color: #FFF;
			$background: #5dca88;
			@include button-default($color, $background);
		}
	}

	.heading-main {
		font-size: 50px;
	}

	.scss {}

	.subheading {
		font-size: 40px;
	}

	.lessons {
		display: inline-block;
		padding-right: 20px;

		.btn {
			font-size: 30px;
		}

		.basic {
			$color: #FFF;
			$background: #5dca88;
			@include button-circle($color, $background);
		}

		.intermediate {
			$color: #FFF;
			$background: #ffdb4f;
			@include button-circle($color, $background);
		}

		.advanced {
			$color: #FFF;
			$background: #e73562;
			@include button-circle($color, $background);
		}

		.scss {
			$color: #FFF;
			$background: #00ccff;
			@include button-circle($color, $background);
		}
	}
}

@include footer;